<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="E:/Automation and testing/Sourabh/TestSeleniumWebDriver">
    <listeners>
        <listener class-name="Utility.ITestListener"/>
    </listeners>
    <test name="Test">
    <classes>

       <!-- <class name="TestHomePage"></class>-->
        <!--<class name="TestSignupPage"></class>-->
        <!--<class name="TestLoginPage"></class>-->
        <class name="TestDashboardPage"/>
    </classes>
</test>
</suite>